html {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(42, 47, 60);
    color: whitesmoke;
    scrollbar-color: whitesmoke transparent;
}
