/* Achievement Categories Page */

#category-container {
    display: flex;
    justify-content: center;
}

#category-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin-top: 20px;
}

.achievement-category {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin: 8px;
}

.achievement-category:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

/* Category Details Page */

#subcategories-header {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid lightgray;
    font-size: large;
}

/* #subcategories-header h3 {
    margin: 0 0 0 4px;
} */

#subcategories-header i {
    padding: 6px;
}

#subcategories-header:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#category-details-container {
    display: flex;
    width: 100%;
    height: 93vh;
}

#category-details-subcategories {
    min-width: 280px;
    border: 1px solid lightgray;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#category-details-subcategories ul {
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.subcategory {
    height: 60px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subcategory:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

#category-details-subcategories .selected {
    background-color: lightgray;
}

#category-details-subcategories .selected:hover {
    background-color: lightgray;
}

/* Achievements List Section */

#achievement-list-and-details-container {
    width: 100%;
    height: 100%;
}

#achievement-details-container {
    height: 40%;
    border: 1px solid lightgray;
    border-radius: 8px;
}

#achievement-list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60%;
    overflow-y: auto;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 8px;
}

#achievement-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1500px;
}

.achievement-button {
    margin: 24px 24px 0 24px;
    border: 1px solid black;
    border-radius: 6px;
    width: 400px;
    min-width: 320px;
    max-width: 420px;
    height: 86px;
}

.achievement-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

/* Achievement Details Section */
#achievement-details {
    height: 100%;
}

#achievement-title-and-button {
    display: flex;
    align-items: center;
}

#achievement-title-and-button > div {
    margin-left: 20px;
}

#achievement-title-and-button i:hover {
    cursor: pointer;
}

#criteria-container {
    display: flex;
    flex-flow: row wrap;
    height: 70%;
    overflow-y: auto;
}

.criteria-achievement,
.criteria-part {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px;
    padding: 6px 4px;
    margin-bottom: 0;
}

.criteria-achievement:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#achievement-list-container .selected {
    background-color: lightgray;
}

#achievement-list-container .selected:hover {
    background-color: lightgray;
}
