#mounts-container {
    height: 89vh;
    display: flex;
    margin-top: 16px;
}

#mount-category-container {
    min-width: 280px;
    /* border: 1px solid lightgray;
    border-radius: 8px; */
    overflow-y: auto;
    height: 100%;
    margin: 0 12px;
}

#mounts-container .selected {
    background-color: rgb(83, 95, 129);
}

.mount-category {
    height: 60px;
    /* border: 1px solid lightgray; */
    border-radius: 4px;
    /* margin: 10px 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mount-category:hover {
    cursor: pointer;
    background-color: rgb(49, 57, 79);
}

#mounts-categories-header {
    border-radius: 4px;
    background-color: rgb(68, 78, 105);
    /* border-bottom: 1px solid rgba(245, 245, 245, 0.33); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    display: flex;
    justify-content: center;
}

#mounts-and-details-container {
    height: 100%;
    width: 84%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mount-details {
    background-color: rgb(12, 12, 12);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    height: 30%;
    width: 100%;
    overflow-y: auto;
    /* border: 1px solid lightgray; */
}

#mount-details > * {
    margin-left: 20px;
}

#mounts-in-category-list {
    height: 70%;
    /* border: 1px solid whitesmoke; */
    /* border-top: none; */
    /* border-radius: 8px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.mount-item {
    height: 86px;
    width: 400px;
    /* border: 1px solid lightgray; */
    border-radius: 4px;
    margin: 20px;
    background-color: rgb(42, 46, 57);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 20px;
    /* font-weight: 700; */
    font-size: larger;
    text-overflow: clip;
}

.mount-item:hover {
    cursor: pointer;
    background-color: rgb(54, 62, 84);
}

#mount-title-and-button {
    display: flex;
    align-items: center;
}

#mount-title-and-button > div {
    margin-left: 20px;
}

#mount-title-and-button i:hover {
    cursor: pointer;
}
