/* id tracker-background and class tracker-menu is defined in Navigation.jsx */
#tracker-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 1;
}

.tracker-menu {
    position: absolute;
    right: 8px;
    top: 64px;
    width: 24%;
    min-width: 210px;
    height: 91%;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: white;
    overflow-y: auto;
    z-index: 2;
}

.tracker-list-section-header h2 {
    margin: 0 0 0 8px;
}

#tracked-achievements-container ul {
    list-style-type: none;
    padding-left: 0;
}

.tracker-list-section-header {
    display: flex;
    align-items: center;
}

.tracker-list-section-header:hover {
    cursor: pointer;
}

.tracked {
    margin-bottom: 4px;
    height: 48px;
    display: flex;
    /* align-items: center; */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.tracked:hover {
    cursor: pointer;
}

.tracked span {
    text-wrap: nowrap;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 48px;
    width: 100%;
    padding-left: 10px;
    /* padding-top: 4px; */
    border: 1px solid lightgray;
    border-radius: 8px 0 0 8px;
}

.tracked span:hover {
    background-color: whitesmoke;
}

.tracked .tracker-button {
    opacity: 0;
    display: flex;
    margin-right: 10px;
    align-self: center;
}

.tracked:hover .tracker-button {
    opacity: 1;
}

.tracker-button:hover .fa-regular,
.tracker-button .fa-solid {
    display: none;
}

.tracker-button:hover .fa-solid {
    display: contents;
}

.tracked span > h4 {
    margin: 0;
    margin: 4px 0;
}