/* id tracker-background and class tracker-menu is defined in Navigation.jsx */
#tracker-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 1;
}

.tracker-menu {
    position: absolute;
    right: 8px;
    top: 64px;
    width: 24%;
    min-width: 210px;
    height: 91%;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: white;
    overflow-y: auto;
    z-index: 2;
}

.tracker-list-section-header h2 {
    margin: 0 0 0 8px;
}

#tracked-achievements-container ul {
    list-style-type: none;
    padding-left: 0;
}

.tracker-list-section-header {
    display: flex;
    align-items: center;
}

.tracker-list-section-header:hover {
    cursor: pointer;
}

.tracked {
    margin-bottom: 4px;
    height: 32px;
    display: flex;
    align-items: center;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-image: linear-gradient(to left, lightgray 80%, transparent 20%) 10% 1;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.tracked:hover {
    cursor: pointer;
}

.tracked span {
    text-wrap: nowrap;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
    margin-left: 12px;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 8px 0 0 8px;
}

.tracked span:hover {
    background-color: whitesmoke;
}

.delete-button {
    opacity: 0;
    display: flex;
}

.tracked:hover .delete-button {
    opacity: 1;
}

.delete-button:hover .fa-regular,
.delete-button .fa-solid {
    display: none;
}

.delete-button:hover .fa-solid {
    display: contents;
}
