#landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

#landing-page-center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    /* box-shadow: 0px 0px 6px whitesmoke; */
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px;
}

.home-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.home-nav-button h1,
.home-nav-button p {
    margin: 6px 0;
}

.home-nav-button h4 {
    margin: 20px 0;
}

#landing-page-center-div button {
    all: unset;
    margin: 0 10px;
    padding: 2px 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

#landing-page-center-div button:hover {
    background-color: rgb(93, 97, 138);
    cursor: pointer;
}