.characters-dropdown {
    position: absolute;
    left: 20%;
    padding: 0;
    border: 1px solid lightgray;
    background-color: rgb(42, 47, 60);
    border-radius: 8px;
}

.characters-dropdown li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 8px;
    margin: 2px 0;
}

#add-character-button {
    border: 1px solid gray;
    margin-bottom: 0;
}

.characters-dropdown li:hover {
    cursor: pointer;
    background-color: rgb(87, 101, 135);
}

#selected-character-button {
    all: unset;
    padding: 4px 8px;
    border-radius: 8px;
    position: absolute;
    left: 20%;
    top: 30px
}

#selected-character-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

#selected-character-button i {
    margin-right: 6px;
}

.tracked-character .delete-button {
    opacity: 0;
    display: flex;
    margin-right: 4px;
}

.tracked-character:hover .delete-button {
    opacity: 1;
}

.delete-button:hover .fa-regular,
.delete-button .fa-solid {
    display: none;
}

.delete-button:hover .fa-solid {
    display: contents;
}
