.characters-dropdown {
    position: absolute;
    padding: 0;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.characters-dropdown li {
    list-style-type: none;
    padding: 4px 8px;
    border-radius: 8px;
    margin: 2px 0;
}

#add-character-button {
    border: 1px solid gray;
    margin-bottom: 0;
}

.characters-dropdown li:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#selected-character-button {
    all: unset;
    padding: 4px 8px;
    border-radius: 8px;
}

#selected-character-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#selected-character-button i {
    margin-right: 6px;
}
